<%- include('partial/start') %>
<%- include('partial/navbar') %>
<%- include('partial/modalsearch') %>

<style>
    .bilcont{
        margin: 200px 150px ;
    }
</style>

<div class="bilcont">
    <h1 class="mb-4">Account details</h1>
    <div class="row g-5">
        <div class="col-md-12 col-lg-6 col-xl-7">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="form-item w-100">
                        <label class="form-label my-3">Username<sup>*</sup></label>
                        <input type="text" class="form-control" id="username" name="username" value="<%= user ? user.username : '' %>">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="form-item w-100">
                        <label class="form-label my-3">Password<sup>*</sup></label>
                        <input type="password" class="form-control" id="password" name="password" value="<%= user ? user.password : '' %>">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-label my-3">Email Address<sup>*</sup></label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= user ? user.email : '' %>">
                </div>
            </div>
        </div>
    </div>
    
    <% billing.forEach(bill => { %>
    <h1 class="mb-4">Billing details</h1>
        <form action="/saveAccountDetail/ <%= bill.id %>" method="POST">
            <div class="row g-5">
                
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">First Name<sup>*</sup></label>
                                <input type="text" class="form-control" id="firstName" name="firstName" value="<%= bill.firstName%>">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Last Name<sup>*</sup></label>
                                <input type="text" class="form-control" id="lastName" name="lastName" value="<%= bill.lastName%>">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Address <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="House Number Street Name" id="address" name="address"  value="<%= bill.address%>">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Town/City<sup>*</sup></label>
                        <input type="text" class="form-control" id="city" name="city"  value="<%= bill.city%>">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Country<sup>*</sup></label>
                        <input type="text" class="form-control" id="country" name="country"  value="<%= bill.country%>">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Postcode/Zip<sup>*</sup></label>
                        <input type="text" class="form-control" id="zipcode" name="zipcode"  value="<%= bill.zipCode%>">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Mobile<sup>*</sup></label>
                        <input type="tel" class="form-control" id="mobile" name="mobile"  value="<%= bill.mobile%>">
                    </div>
                </div>
                
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Transfer-1" name="payment_method" value="Transfer" <%= bill.paymentMethod === 'Transfer' ? 'checked' : '' %> >
                                <label class="form-check-label" for="Transfer-1">Direct Bank Transfer</label>
                            </div>
                            <p class="text-start text-dark">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                        </div>
                    </div>
                
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Payments-1" name="payment_method" value="Check Payments" <%= bill.paymentMethod === 'Check Payments' ? 'checked' : '' %> >
                                <label class="form-check-label" for="Payments-1">Check Payments</label>
                            </div>
                        </div>
                    </div>
                
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Delivery-1" name="payment_method" value="Cash On Delivery" <%= bill.paymentMethod === 'Cash On Delivery' ? 'checked' : '' %> >
                                <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                            </div>
                        </div>
                    </div>
                
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Paypal-1" name="payment_method" value="Paypal" <%= bill.paymentMethod === 'Paypal' ? 'checked' : '' %> >
                                <label class="form-check-label" for="Paypal-1">Paypal</label>
                            </div>
                        </div>
                    </div>
                
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Save Billing Details</button>
                    </div>
                </div>
                

                <%  }) %>
            </div>
        </form>

</div>
<%- include('partial/end')%>    

<script>
</script>