 <!-- Fruits Shop Start-->
 <div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Our Organic Products</h1>
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                                <span class="text-dark" style="width: 130px;">All Products</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                                <span class="text-dark" style="width: 130px;">Vegetables</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">
                                <span class="text-dark" style="width: 130px;">Fruits</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-4">
                                <span class="text-dark" style="width: 130px;">Bread</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-5">
                                <span class="text-dark" style="width: 130px;">Meat</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <!-- start ng loop -->
                                <% product.forEach(pr=> { %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="img/fruite-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4><%= pr.name %></h4>
                                                <input type="hidden" name="productId" id="productId" value="<%= pr.product_id %>">
                                                <p><%= pr.description %></p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">&#8369;<%= pr.price %> / kg</p>
                                                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary" data-bs-toggle="modal" data-bs-target="#AddtocartModal" onclick="openModal('<%= pr.name %>', '<%= pr.price %>', 'AddtocartModal', '<%= pr.product_id %>')">
                                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                        </a>
                                                        
                                                       <!-- Modal -->
                                                        <!-- Modal HTML for displaying product details -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="AddtocartModal" tabindex="-1" aria-labelledby="AddtocartModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="AddtocartModalLabel">Add to Cart</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4 id="modalName"></h4>
                                                                <p id="modalPrice"></p>

                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <button type="button" id="decreaseQty" class="btn btn-secondary">-</button>
                                                                    <span id="modalQuantity">1</span>
                                                                    <button type="button" id="increaseQty" class="btn btn-secondary">+</button>
                                                                </div>

                                                                <p>Total: &#8369;<span id="modalTotalPrice"></span></p>
                                                                <input type="hidden" name="modalprodID" id="modalprodID" >
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                <button type="button" class="btn btn-primary" id="addToCartButton" onclick="addToCart()">Add to Cart</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

 
                                              
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                                
                                
                                <!-- end ng loop -->
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <% vege.forEach(vege => { %> 
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <img src="img/fruite-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Vegetables</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4><%= vege.name %></h4>
                                            <p><%= vege.description %></p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">&#8369;<%= vege.price %> / kg</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary" data-bs-toggle="modal" data-bs-target="#AddtocartModal2" onclick="openModal('<%= vege.name %>', '<%= vege.price %>','AddtocartModal2',  '<%= vege.product_id %>')">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                </a>
                                                
                                               <!-- Modal -->
                                                <!-- Modal HTML for displaying product details -->
                                        <!-- Modal -->
                                        <div class="modal fade" id="AddtocartModal2" tabindex="-1" aria-labelledby="AddtocartModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="AddtocartModalLabel">Add to Cart</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4 id="modalName"></h4>
                                                        <p id="modalPrice"></p>

                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <button type="button" id="decreaseQty" class="btn btn-secondary">-</button>
                                                            <span id="modalQuantity">1</span>
                                                            <button type="button" id="increaseQty" class="btn btn-secondary">+</button>
                                                        </div>

                                                        <p>Total: &#8369;<span id="modalTotalPrice"></span></p>
                                                        <input type="hidden" name="modalprodID" id="modalprodID" >
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <!-- Inside Modal HTML -->
                                                        <button type="button" class="btn btn-primary" id="addToCartButton" onclick="addToCart()">Add to Cart</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <% fruit.forEach(fruit => { %>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="img/fruite-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4><%= fruit.name %></h4>
                                                <p><%= fruit.description %></p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">&#8369;<%= fruit.price %> / kg</p>
                                                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary" data-bs-toggle="modal" data-bs-target="#AddtocartModal3" onclick="openModal('<%= fruit.name %>', '<%= fruit.price %>','AddtocartModal3',  '<%= fruit.product_id %>')">
                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                    </a>
                                                    
                                                   <!-- Modal -->
                                                    <!-- Modal HTML for displaying product details -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="AddtocartModal3" tabindex="-1" aria-labelledby="AddtocartModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="AddtocartModalLabel">Add to Cart</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4 id="modalName"></h4>
                                                            <p id="modalPrice"></p>

                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <button type="button" id="decreaseQty" class="btn btn-secondary">-</button>
                                                                <span id="modalQuantity">1</span>
                                                                <button type="button" id="increaseQty" class="btn btn-secondary">+</button>
                                                            </div>

                                                            <p>Total: &#8369;<span id="modalTotalPrice"></span></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <!-- Inside Modal HTML -->
                                                            <button type="button" class="btn btn-primary" id="addToCartButton" onclick="addToCart()">Add to Cart</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <% meat.forEach(meat => {%>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="img/fruite-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Meat</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4><%= meat.name %></h4>
                                                <p><%= meat.price %></p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">&#8369;<%= meat.price %> / kg</p>
                                                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary" data-bs-toggle="modal" data-bs-target="#AddtocartModal4" onclick="openModal('<%= meat.name %>', '<%= meat.price %>', 'AddtocartModal4',  '<%= meat.product_id %>')">
                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                    </a>
                                                    
                                                   <!-- Modal -->
                                                    <!-- Modal HTML for displaying product details -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="AddtocartModal4" tabindex="-1" aria-labelledby="AddtocartModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="AddtocartModalLabel">Add to Cart</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4 id="modalName"></h4>
                                                            <p id="modalPrice"></p>

                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <button type="button" id="decreaseQty" class="btn btn-secondary">-</button>
                                                                <span id="modalQuantity">1</span>
                                                                <button type="button" id="increaseQty" class="btn btn-secondary">+</button>
                                                            </div>

                                                            <p>Total: &#8369;<span id="modalTotalPrice"></span></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-primary" id="addToCartButton" onclick="addToCart()">Add to Cart</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%})%>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-5" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <% bread.forEach(bread => {%>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="img/fruite-item-3.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Bread</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4><%= bread.name %></h4>
                                                <p><%= bread.description %></p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">&#8369;<%= bread.price %> / kg</p>
                                                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary" data-bs-toggle="modal" data-bs-target="#AddtocartModal5" onclick="openModal('<%= bread.name %>', '<%= bread.price %>', 'AddtocartModal5',  '<%= bread.product_id %>')">
                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                    </a>
                                                    
                                                   <!-- Modal -->
                                                    <!-- Modal HTML for displaying product details -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="AddtocartModal5" tabindex="-1" aria-labelledby="AddtocartModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="AddtocartModalLabel">Add to Cart</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4 id="modalName"></h4>
                                                            <p id="modalPrice"></p>

                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <button type="button" id="decreaseQty" class="btn btn-secondary">-</button>
                                                                <span id="modalQuantity">1</span>
                                                                <button type="button" id="increaseQty" class="btn btn-secondary">+</button>
                                                            </div>

                                                            <p>Total: &#8369;<span id="modalTotalPrice"></span></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-primary" id="addToCartButton" onclick="addToCart()">Add to Cart</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
        </div>      
    </div>
</div>

<script>
    let quantity = 1;
    let pricePerUnit = 0;
    let activeModal = null;
    
    function openModal(name, price, modalId, prodId) {
        const modal = document.getElementById(modalId);
        if (!modal) return;
    
        // Cache DOM elements to minimize queries
        const modalName = modal.querySelector('#modalName');
        const modalPrice = modal.querySelector('#modalPrice');
        const modalQuantity = modal.querySelector('#modalQuantity');
        const modalTotalPrice = modal.querySelector('#modalTotalPrice');
        const modalProdID = modal.querySelector('#modalprodID');
        const increaseBtn = modal.querySelector('#increaseQty');
        const decreaseBtn = modal.querySelector('#decreaseQty');
    
        // Initialize modal with product data
        modalName.innerText = name;
        modalPrice.innerText = 'Price: ₱' + price;
        quantity = 1;
        pricePerUnit = parseFloat(price);
        modalQuantity.innerText = quantity;
        modalTotalPrice.innerText = (pricePerUnit * quantity).toFixed(2);
        modalProdID.value = parseInt(prodId);

    
        // Remove old event listeners
        increaseBtn.onclick = increaseQty;
        decreaseBtn.onclick = decreaseQty;
    
        activeModal = modal;
    }
    
    function updateModal() {
        if (activeModal) {
            const modalQuantity = activeModal.querySelector('#modalQuantity');
            const modalTotalPrice = activeModal.querySelector('#modalTotalPrice');
            modalQuantity.innerText = quantity;
            modalTotalPrice.innerText = (pricePerUnit * quantity).toFixed(2);
        }
    }
    
    function increaseQty() {
        quantity++;
        updateModal();
    }
    
    function decreaseQty() {
        if (quantity > 1) {
            quantity--;
            updateModal();
        }
    }
    
    function addToCart() {
    const name = document.getElementById('modalName').innerText;
    const price = pricePerUnit; // pricePerUnit should have been set when the modal opened
    const quantity = parseInt(document.getElementById('modalQuantity').innerText);
    const total = price * quantity;
    const prodid = document.getElementById('modalprodID').value;


    // Log values to check if they are correct
    console.log('Name:', name);
    console.log('Price:', price);
    console.log('Quantity:', quantity);
    console.log('Total:', total);
    console.log('prodid:', prodid);
    

    // Ensure none of the values are null or undefined
    if (!name || !price || !quantity || !total) {
        alert('Error: Missing product information. Please try again.');
        return;
    }

    // Prepare the data to send to the server
    const cartData = {
        name: name,
        price: price,
        quantity: quantity,
        total: total,
        productId: prodid
    };

    // Send the data to the server using fetch API
    fetch('/add-to-cart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(cartData)
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Product added to cart successfully!');
        } else {
            alert('Failed to add product to cart.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
    </script>
    